

*{
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    height:100vh;
    overflow:hidden;
    margin:0;
}
h1{
    text-align: center;
    color:red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.container{ 
    display:flex;
    width:90vw;
}
.panel{
    background-size:auto 100%;
    background-position: center;
    background-repeat:no-repeat;
    height:80vh;
    border-radius:50px;
    color:dimgrey;
    cursor:pointer;
    flex:0.5;
    margin: 10px;
    position: relative;
    transition: flex 0.75 ease-in;
}
.panel h3{
    font-size:16px;
    position: absolute;
    text-align:left;
    bottom: 20px;
    left:20px;
    margin:0;
    opacity:0;
    color:antiquewhite;


}
.panel.active{
    flex: 5;

}
.panel.active h3{
    opacity:1;
}
@media(max-width:500px) {
    .container{
    width: 100vw;
    }
    .panel:nth-last-of-type(4), .panel:nth-last-of-type(5){
        display:none;
    }
}